# ========================
# Node / React
# ========================
node_modules/
.env

# ========================
# Java / Spring Boot
# ========================
target/
*.log

# ========================
# IDEs
# ========================
.idea/
.vscode/

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db
